In [1]:
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
import zookeeper as zk
import numpy as np

In [2]:
data=pd.read_csv('../data/test_old/galaxyjungle_test_2.csv')

In [3]:
data

,Name,E0,E3,E6,S0a_eon,SB0a_eon,Scd_eon,SoB,SoA,SAa,SAb,SAc,SAd,SBa,SBb,SBc,SBd,A,final_labels
0,100018.jpg,0.012324,0.089924,0.188037,0.311521,0.070381,0.016517,0.033511,0.158815,0.013511,0.032541,0.025816,0.009676,0.002851,0.006866,0.005447,0.002042,0.011082,S0a_eon
1,100037.jpg,0.021946,0.122680,0.008920,0.036127,0.005152,0.008359,0.183207,0.211470,0.026333,0.132308,0.038950,0.002849,0.022814,0.114625,0.033745,0.002468,0.016380,SoA
2,100042.jpg,0.086164,0.038611,0.000000,0.028006,0.000000,0.000130,0.332706,0.079901,0.008306,0.050112,0.028202,0.001802,0.034586,0.208663,0.117431,0.007502,0.002808,SoB
3,100052.jpg,0.018271,0.033907,0.000000,0.021954,0.000000,0.008142,0.016876,0.053518,0.027287,0.149746,0.374673,0.090248,0.008605,0.047220,0.118148,0.028458,0.000541,SAc
4,100056.jpg,0.012633,0.206544,0.008468,0.032235,0.010457,0.016311,0.123599,0.255196,0.011885,0.010125,0.073017,0.096988,0.005756,0.004904,0.035364,0.046974,0.038120,SoA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79970,999955.jpg,0.637836,0.128126,0.000000,0.000569,0.000000,0.000000,0.011927,0.157584,0.007899,0.017427,0.013008,0.002448,0.000598,0.001319,0.000985,0.000185,0.025667,E0
79971,999981.jpg,0.015804,0.477148,0.008837,0.015884,0.004416,0.014615,0.023256,0.268076,0.009367,0.009344,0.063982,0.049161,0.000813,0.000811,0.005550,0.004265,0.028150,E3
79972,999990.jpg,0.351525,0.289546,0.000000,0.009126,0.000000,0.001780,0.017593,0.248801,0.008260,0.028232,0.015937,0.001191,0.000584,0.001996,0.001127,0.000084,0.023084,E0
79973,999994.jpg,0.046717,0.436421,0.005703,0.014970,0.000000,0.008145,0.022639,0.295065,0.009339,0.045950,0.081669,0.010949,0.000717,0.003526,0.006266,0.000840,0.011249,E3
79974,999996.jpg,0.224597,0.151582,0.000000,0.017053,0.000949,0.003562,0.056261,0.293809,0.028772,0.121085,0.035865,0.001502,0.005510,0.023187,0.006868,0.000288,0.021027,SoA

In [4]:
df=pd.DataFrame([data['Name'],data['final_labels']]).T

In [5]:
df

             Name final_labels
0      100018.jpg      S0a_eon
1      100037.jpg          SoA
2      100042.jpg          SoB
3      100052.jpg          SAc
4      100056.jpg          SoA
...           ...          ...
79970  999955.jpg           E0
79971  999981.jpg           E3
79972  999990.jpg           E0
79973  999994.jpg           E3
79974  999996.jpg          SoA

[79975 rows x 2 columns]

In [6]:
dfgio=pd.read_csv('../data/test_old/galaxyjungle_test_gio.csv')

In [7]:
dfgio

,Name,E0,E3,E6,S0a_eon,SB0a_eon,Scd_eon,SoB,SoA,SAa,SAb,SAc,SAd,SBa,SBb,SBc,SBd,A,final_labels
0,100078.jpg,0.464655,0.091942,0.000856,0.012567,0.000000,0.000217,0.028111,0.279394,0.012123,0.044611,0.018703,0.001055,0.001220,0.004488,0.001882,0.000106,0.025332,E0
1,100128.jpg,0.636307,0.127252,0.000000,0.003772,0.000310,0.000000,0.012888,0.148794,0.005105,0.012472,0.006830,0.001878,0.000442,0.001080,0.000592,0.000163,0.038725,E0
2,100143.jpg,0.000000,0.007974,0.118648,0.572754,0.144260,0.104311,0.013689,0.021367,0.002967,0.005889,0.005138,0.002547,0.001901,0.003773,0.003292,0.001632,0.005633,S0a_eon
3,100335.jpg,0.001162,0.082569,0.118097,0.023997,0.014627,0.117828,0.180499,0.126636,0.008122,0.007879,0.047847,0.064966,0.011577,0.011230,0.068199,0.092599,0.029378,SoB
4,100367.jpg,0.089447,0.490372,0.002527,0.017965,0.002555,0.006938,0.113717,0.160466,0.009653,0.029078,0.015172,0.002845,0.006841,0.020607,0.010752,0.002016,0.021128,E3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153,998723.jpg,0.012276,0.264975,0.086866,0.078834,0.005024,0.024225,0.071169,0.237244,0.009846,0.069166,0.081092,0.007852,0.002954,0.020748,0.024326,0.002356,0.005489,E3
6154,998735.jpg,0.092654,0.196791,0.000000,0.023573,0.001071,0.003362,0.172584,0.161216,0.017255,0.090593,0.055645,0.002661,0.018471,0.096981,0.059568,0.002848,0.009410,E3
6155,999137.jpg,0.005973,0.000000,0.000000,0.027779,0.000000,0.006337,0.012745,0.008344,0.022701,0.160434,0.189193,0.019843,0.034674,0.245050,0.288976,0.030309,0.000000,SBc
6156,999569.jpg,0.082922,0.652412,0.000016,0.007581,0.000000,0.007945,0.016677,0.168443,0.009597,0.025383,0.011737,0.002764,0.000950,0.002513,0.001162,0.000274,0.021669,E3
6157,999875.jpg,0.000000,0.011155,0.142648,0.224378,0.057592,0.297698,0.018237,0.071643,0.010761,0.038224,0.073400,0.022353,0.002739,0.009730,0.018684,0.005690,0.004207,Scd_eon

In [61]:
dfgio.iloc[1,1:3]

E0    0.636307
E3    0.127252
Name: 1, dtype: object

In [ ]:
dfgio['final_values']=np.max(dfgio.iloc[:,1:18],axis=1)
dfgio

,Name,E0,E3,E6,S0a_eon,SB0a_eon,Scd_eon,SoB,SoA,SAa,SAb,SAc,SAd,SBa,SBb,SBc,SBd,A,final_labels,final_values
0,100078.jpg,0.464655,0.091942,0.000856,0.012567,0.000000,0.000217,0.028111,0.279394,0.012123,0.044611,0.018703,0.001055,0.001220,0.004488,0.001882,0.000106,0.025332,E0,0.464655
1,100128.jpg,0.636307,0.127252,0.000000,0.003772,0.000310,0.000000,0.012888,0.148794,0.005105,0.012472,0.006830,0.001878,0.000442,0.001080,0.000592,0.000163,0.038725,E0,0.636307
2,100143.jpg,0.000000,0.007974,0.118648,0.572754,0.144260,0.104311,0.013689,0.021367,0.002967,0.005889,0.005138,0.002547,0.001901,0.003773,0.003292,0.001632,0.005633,S0a_eon,0.572754
3,100335.jpg,0.001162,0.082569,0.118097,0.023997,0.014627,0.117828,0.180499,0.126636,0.008122,0.007879,0.047847,0.064966,0.011577,0.011230,0.068199,0.092599,0.029378,SoB,0.180499
4,100367.jpg,0.089447,0.490372,0.002527,0.017965,0.002555,0.006938,0.113717,0.160466,0.009653,0.029078,0.015172,0.002845,0.006841,0.020607,0.010752,0.002016,0.021128,E3,0.490372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153,998723.jpg,0.012276,0.264975,0.086866,0.078834,0.005024,0.024225,0.071169,0.237244,0.009846,0.069166,0.081092,0.007852,0.002954,0.020748,0.024326,0.002356,0.005489,E3,0.264975
6154,998735.jpg,0.092654,0.196791,0.000000,0.023573,0.001071,0.003362,0.172584,0.161216,0.017255,0.090593,0.055645,0.002661,0.018471,0.096981,0.059568,0.002848,0.009410,E3,0.196791
6155,999137.jpg,0.005973,0.000000,0.000000,0.027779,0.000000,0.006337,0.012745,0.008344,0.022701,0.160434,0.189193,0.019843,0.034674,0.245050,0.288976,0.030309,0.000000,SBc,0.288976
6156,999569.jpg,0.082922,0.652412,0.000016,0.007581,0.000000,0.007945,0.016677,0.168443,0.009597,0.025383,0.011737,0.002764,0.000950,0.002513,0.001162,0.000274,0.021669,E3,0.652412
6157,999875.jpg,0.000000,0.011155,0.142648,0.224378,0.057592,0.297698,0.018237,0.071643,0.010761,0.038224,0.073400,0.022353,0.002739,0.009730,0.018684,0.005690,0.004207,Scd_eon,0.297698

In [65]:
dfgioo=pd.DataFrame([dfgio['Name'],dfgio['final_labels'], dfgio['final_values']]).T

In [66]:
dfgioo

            Name final_labels final_values
0     100078.jpg           E0     0.464655
1     100128.jpg           E0     0.636307
2     100143.jpg      S0a_eon     0.572754
3     100335.jpg          SoB     0.180499
4     100367.jpg           E3     0.490372
...          ...          ...          ...
6153  998723.jpg           E3     0.264975
6154  998735.jpg           E3     0.196791
6155  999137.jpg          SBc     0.288976
6156  999569.jpg           E3     0.652412
6157  999875.jpg      Scd_eon     0.297698

[6158 rows x 3 columns]

In [55]:
path = '../data/test/test_solutions_rev1.csv' #path è universale
dataframe = pd.read_csv(path, sep=',') 
true_gio=zk.mappy_df(dataframe)

/home/margherita/LCPB_project/GalaxyClassifier/zookeeper.py:184: RuntimeWarning: invalid value encountered in divide
  class4_2 / class4_2.sum(axis=1, keepdims=True),
/home/margherita/LCPB_project/GalaxyClassifier/zookeeper.py:187: RuntimeWarning: invalid value encountered in divide
  class5_4 / class5_4.sum(axis=1, keepdims=True),

In [56]:
true_gio

,GalaxyID,E0,E3,E6,S0a_eon,SB0a_eon,Scd_eon,SoB,SoA,SAa,SAb,SAc,SAd,SBa,SBb,SBc,SBd,A
0,169764,0.000000,0.502346,0.000000,0.000000,0.000000,0.000000,0.000000,0.199798,0.092960,0.084919,0.119977,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,539507,0.331769,0.067184,0.000000,0.000000,0.000000,0.000000,0.186349,0.367449,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047249
2,229116,0.000000,0.296734,0.212096,0.031841,0.000000,0.000000,0.000000,0.459329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,428283,0.029304,0.582534,0.000000,0.000000,0.000000,0.000000,0.079708,0.091006,0.023511,0.033731,0.031550,0.000000,0.020592,0.029543,0.027633,0.000000,0.050885
4,288410,0.000000,0.093990,0.000000,0.057489,0.000000,0.025536,0.041357,0.282680,0.012433,0.310182,0.112652,0.000000,0.001819,0.045381,0.016481,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153,603354,0.729314,0.053623,0.000000,0.000000,0.000000,0.000000,0.000000,0.133469,0.015292,0.068302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6154,830615,0.252356,0.427012,0.000000,0.000000,0.000000,0.000000,0.000000,0.308373,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012259
6155,525109,0.680525,0.052412,0.000000,0.000000,0.000000,0.000000,0.000000,0.101649,0.038584,0.044740,0.057876,0.000000,0.000000,0.000000,0.000000,0.000000,0.024215
6156,100335,0.000000,0.123752,0.041251,0.078442,0.078442,0.078442,0.054902,0.166545,0.000000,0.075378,0.066253,0.142823,0.000000,0.024849,0.021841,0.047082,0.000000
6157,622563,0.000000,0.006187,0.000000,0.000000,0.000000,0.000000,0.041831,0.004031,0.002848,0.008935,0.050539,0.021002,0.029554,0.092720,0.524426,0.217927,0.000000

In [ ]:
finallbs=[]
finalvals=[]
for i in range(len(true_gio)):
    finallbs.append(true_gio.columns[np.argmax(true_gio.iloc[i,1:]) + 1])
    finalvals.append(true_gio[finallbs[-1]][i])
true_gio['true_labels']=finallbs
true_gio['true_prob']=finalvals
true_gio

,GalaxyID,E0,E3,E6,S0a_eon,SB0a_eon,Scd_eon,SoB,SoA,SAa,SAb,SAc,SAd,SBa,SBb,SBc,SBd,A,true_labels,true_prob
0,169764,0.000000,0.502346,0.000000,0.000000,0.000000,0.000000,0.000000,0.199798,0.092960,0.084919,0.119977,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,E3,0.502346
1,539507,0.331769,0.067184,0.000000,0.000000,0.000000,0.000000,0.186349,0.367449,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047249,SoA,0.367449
2,229116,0.000000,0.296734,0.212096,0.031841,0.000000,0.000000,0.000000,0.459329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,SoA,0.459329
3,428283,0.029304,0.582534,0.000000,0.000000,0.000000,0.000000,0.079708,0.091006,0.023511,0.033731,0.031550,0.000000,0.020592,0.029543,0.027633,0.000000,0.050885,E3,0.582534
4,288410,0.000000,0.093990,0.000000,0.057489,0.000000,0.025536,0.041357,0.282680,0.012433,0.310182,0.112652,0.000000,0.001819,0.045381,0.016481,0.000000,0.000000,SAb,0.310182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153,603354,0.729314,0.053623,0.000000,0.000000,0.000000,0.000000,0.000000,0.133469,0.015292,0.068302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,E0,0.729314
6154,830615,0.252356,0.427012,0.000000,0.000000,0.000000,0.000000,0.000000,0.308373,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012259,E3,0.427012
6155,525109,0.680525,0.052412,0.000000,0.000000,0.000000,0.000000,0.000000,0.101649,0.038584,0.044740,0.057876,0.000000,0.000000,0.000000,0.000000,0.000000,0.024215,E0,0.680525
6156,100335,0.000000,0.123752,0.041251,0.078442,0.078442,0.078442,0.054902,0.166545,0.000000,0.075378,0.066253,0.142823,0.000000,0.024849,0.021841,0.047082,0.000000,SoA,0.166545
6157,622563,0.000000,0.006187,0.000000,0.000000,0.000000,0.000000,0.041831,0.004031,0.002848,0.008935,0.050539,0.021002,0.029554,0.092720,0.524426,0.217927,0.000000,SBc,0.524426

In [58]:
true_gio_2=pd.DataFrame([true_gio['GalaxyID'],true_gio['true_labels'],true_gio['true_prob']]).T

In [59]:
true_gio_2.sort_values('GalaxyID',inplace=True, ignore_index=True)
true_gio_2

     GalaxyID true_labels true_prob
0      100078          E0  0.408599
1      100128          E0  0.482483
2      100143     S0a_eon  0.561429
3      100335         SoA  0.166545
4      100367          E3  0.445091
...       ...         ...       ...
6153   998723         SoA   0.52174
6154   998735         SoA  0.337919
6155   999137         SBc  0.291163
6156   999569          E3   0.70643
6157   999875         SAc  0.266492

[6158 rows x 3 columns]

In [67]:
dfgioo2=true_gio_2.copy()
dfgioo2['final_labels'] = dfgioo['final_labels']
dfgioo2['final_probs'] = dfgioo['final_values']

In [68]:
dfgioo2

     GalaxyID true_labels true_prob final_labels final_probs
0      100078          E0  0.408599           E0    0.464655
1      100128          E0  0.482483           E0    0.636307
2      100143     S0a_eon  0.561429      S0a_eon    0.572754
3      100335         SoA  0.166545          SoB    0.180499
4      100367          E3  0.445091           E3    0.490372
...       ...         ...       ...          ...         ...
6153   998723         SoA   0.52174           E3    0.264975
6154   998735         SoA  0.337919           E3    0.196791
6155   999137         SBc  0.291163          SBc    0.288976
6156   999569          E3   0.70643           E3    0.652412
6157   999875         SAc  0.266492      Scd_eon    0.297698

[6158 rows x 5 columns]

In [70]:
diff= dfgioo2[dfgioo2['true_labels'] != dfgioo2['final_labels']]
diff

     GalaxyID true_labels true_prob final_labels final_probs
3      100335         SoA  0.166545          SoB    0.180499
6      100541         SoA  0.444202           E3     0.42387
7      100673         SAc  0.443487          SoA    0.203949
9      100836          E6   0.40855      S0a_eon    0.268678
11     101151          E0  0.377762           E3    0.429356
...       ...         ...       ...          ...         ...
6148   998221          E6     0.463      Scd_eon    0.409659
6152   998628          E6  0.389374      S0a_eon    0.493996
6153   998723         SoA   0.52174           E3    0.264975
6154   998735         SoA  0.337919           E3    0.196791
6157   999875         SAc  0.266492      Scd_eon    0.297698

[2105 rows x 5 columns]

In [75]:
diff['difference']= dfgioo2['true_prob'] - dfgioo2['final_probs']

/tmp/ipykernel_13971/884196283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff['difference']= dfgioo2['true_prob'] - dfgioo2['final_probs']

In [90]:
diff[diff['true_prob']>0.6]["true_labels"].groupby(diff['true_labels']).count().sort_values(ascending=False)

true_labels
SoA        32
E3         27
E0         14
SoB         5
S0a_eon     5
SAb         4
E6          3
SBc         3
SAc         3
SBb         2
Scd_eon     2
Name: true_labels, dtype: int64