In [1]:
import pandas as pd
import numpy as np
import torch

In [24]:
path = '../data/training/training_solutions_rev1.csv' #path è universale
dataframe = pd.read_csv(path, sep=',', index_col=False) 
df = dataframe.drop(columns='GalaxyID')
df

/tmp/ipykernel_17922/4237101906.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  dataframe = pd.read_csv(path, sep=',', index_col=False)

,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,Class5.1,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
0,100008,0.383147,0.616853,0.000000,0.000000,0.616853,0.038452,0.578401,0.418398,0.198455,...,0.0,0.000000,0.279952,0.138445,0.000000,0.000000,0.092886,0.000000,0.000000,0.0
1,100023,0.327001,0.663777,0.009222,0.031178,0.632599,0.467370,0.165229,0.591328,0.041271,...,0.0,0.018764,0.000000,0.131378,0.459950,0.000000,0.591328,0.000000,0.000000,0.0
2,100053,0.765717,0.177352,0.056931,0.000000,0.177352,0.000000,0.177352,0.000000,0.177352,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,100090,0.933839,0.000000,0.066161,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,100122,0.738832,0.238159,0.023009,0.000000,0.238159,0.000000,0.238159,0.000000,0.238159,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55415,999948,0.510379,0.489621,0.000000,0.059207,0.430414,0.000000,0.430414,0.226257,0.204157,...,0.0,0.000000,0.226257,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
55416,999950,0.901216,0.098784,0.000000,0.000000,0.098784,0.000000,0.098784,0.000000,0.098784,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
55417,999958,0.202841,0.777376,0.019783,0.116962,0.660414,0.067245,0.593168,0.140022,0.520391,...,0.0,0.000000,0.000000,0.090673,0.049349,0.000000,0.067726,0.000000,0.000000,0.0
55418,999964,0.091000,0.909000,0.000000,0.045450,0.863550,0.022452,0.841098,0.795330,0.068220,...,0.0,0.000000,0.068398,0.318132,0.408799,0.227464,0.408799,0.090668,0.023065,0.0
55419,999967,0.767000,0.140000,0.093000,0.000000,0.140000,0.000000,0.140000,0.023380,0.116620,...,0.0,0.000000,0.023380,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [ ]:
def mapper(row,datafr=False):
    class1_3 = (row[:,0:3])
    class3_2 = (row[:,5:7])
    class4_2 = (row[:,7:9])
    class5_4 = (row[:,9:13])
    class7_3 = (row[:,15:18])
    class9_3 = (row[:,25:28])

    #normalizing class 4 and 5
    class4_2 = torch.where(class4_2.sum(dim=1, keepdim=True) != 0, 
                           class4_2 / class4_2.sum(dim=1, keepdim=True), 
                           class4_2)
    class5_4 = torch.where(class5_4.sum(dim=1, keepdim=True) != 0, 
                           class5_4 / class5_4.sum(dim=1, keepdim=True), 
                           class5_4)

    E0=class7_3[:,0]
    E3=class7_3[:,1]
    E6=class7_3[:,2]

    S0a_eon=class9_3[:,0]
    SB0a_eon=class9_3[:,1]
    Scd_eon=class9_3[:,2]

    SoB=class4_2[:,1]*class3_2[:,0]
    SoA=class4_2[:,1]*class3_2[:,1]

    SAa=class4_2[:,0]*class3_2[:,1]*class5_4[:,3]
    SAb=class4_2[:,0]*class3_2[:,1]*class5_4[:,2]
    SAc=class4_2[:,0]*class3_2[:,1]*class5_4[:,1]
    SAd=class4_2[:,0]*class3_2[:,1]*class5_4[:,0]

    SBa=class4_2[:,0]*class3_2[:,0]*class5_4[:,3]
    SBb=class4_2[:,0]*class3_2[:,0]*class5_4[:,2]
    SBc=class4_2[:,0]*class3_2[:,0]*class5_4[:,1]
    SBd=class4_2[:,0]*class3_2[:,0]*class5_4[:,0]

    A=class1_3[:,2]
    if datafr==True:x= pd.DataFrame({'E0':E0,
                     'E3': E3,
                     'E6': E6,
                     'S0a_eon': S0a_eon,
                     'SB0a_eon':SB0a_eon,
                     'Scd_eon': Scd_eon,
                     'SoB': SoB,
                     'SoA': SoA,
                     'SAa': SAa,
                     'SAb': SAb,
                     'SAc': SAc,
                     'SAd': SAd,
                     'SBa': SBa,
                     'SBb': SBb,
                     'SBc': SBc,
                     'SBd': SBd,
                     'A': A})
    else: x=torch.stack([E0,
                     E3,
                     E6,
                     S0a_eon,
                     SB0a_eon,
                     Scd_eon,
                     SoB,
                     SoA,
                     SAa,
                     SAb,
                     SAc,
                     SAd,
                     SBa,
                     SBb,
                     SBc,
                     SBd,
                     A],dim=1)
    return (x)

In [ ]:
def mappy(tensor,datafr=False):

    '''
    This function takes as input a 1D tensor with the columns as structured in the .csv label file.
    It returns a new 2D tensor with as many rows as in the input,
    and a new set of labels that refer to the independent probabilities of 17 different classes.
    To see the result and the classes' name in a Pandas Dataframe set the parameter 'datafr' to True. 
    '''
    class1_3 = (tensor[0:3].unsqueeze(0))
    class3_2 = (tensor[5:7].unsqueeze(0))
    class4_2 = (tensor[7:9])
    class5_4 = (tensor[9:13].unsqueeze(0))
    class7_3 = (tensor[15:18].unsqueeze(0))
    class9_3 = (tensor[25:28].unsqueeze(0))
    

    #normalizing class 4 and 5
    class4_2 = class4_2/class4_2.sum() if class4_2.sum() != 0 else class4_2
    class5_4 = class5_4/class5_4.sum() if class5_4.sum() != 0 else class5_4

    E0=class7_3[0]
    E3=class7_3[1]
    E6=class7_3[2]

    S0a_eon=class9_3[0]
    SB0a_eon=class9_3[1]
    Scd_eon=class9_3[2]

    SoB=class4_2[1]*class3_2[0]
    SoA=class4_2[1]*class3_2[1]

    SAa=class4_2[0]*class3_2[1]*class5_4[3]
    SAb=class4_2[0]*class3_2[1]*class5_4[2]
    SAc=class4_2[0]*class3_2[1]*class5_4[1]
    SAd=class4_2[0]*class3_2[1]*class5_4[0]
    
    SBa=class4_2[0]*class3_2[0]*class5_4[3]
    SBb=class4_2[0]*class3_2[0]*class5_4[2]
    SBc=class4_2[0]*class3_2[0]*class5_4[1]
    SBd=class4_2[0]*class3_2[0]*class5_4[0]

    A=class1_3[2]
    if datafr==True:x= pd.DataFrame({'E0':E0,
                     'E3': E3,
                     'E6': E6,
                     'S0a_eon': S0a_eon,
                     'SB0a_eon':SB0a_eon,
                     'Scd_eon': Scd_eon,
                     'SoB': SoB,
                     'SoA': SoA,
                     'SAa': SAa,
                     'SAb': SAb,
                     'SAc': SAc,
                     'SAd': SAd,
                     'SBa': SBa,
                     'SBb': SBb,
                     'SBc': SBc,
                     'SBd': SBd,
                     'A': A})
    else: x=torch.tensor([E0,
                     E3,
                     E6,
                     S0a_eon,
                     SB0a_eon,
                     Scd_eon,
                     SoB,
                     SoA,
                     SAa,
                     SAb,
                     SAc,
                     SAd,
                     SBa,
                     SBb,
                     SBc,
                     SBd,
                     A])
    return (x)

In [26]:
df_tensor=torch.Tensor(df.values)

In [28]:
#x= mappy(df_tensor[0])
class4_2=df_tensor[0][0:3]
print(class4_2)
class4_2 = class4_2/class4_2.sum() if class4_2.sum() != 0 else class4_2

tensor([1.0001e+05, 3.8315e-01, 6.1685e-01])

In [11]:
x.sum()

tensor(2.6009)

In [ ]:
x['sum']=x.sum(axis=1)
x['sum']

IndexError: too many indices for tensor of dimension 1